<% form_for(@code_blog, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :sub_title %><br />
    <%= f.text_field :sub_title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <% for asset in @code_blog.assets %>
    <% fields_for "code_blog[attachments][]", asset do |asset_form| %>
    <%= asset_form.label "Add Image"  %><br/>
    <%= asset_form.file_field :attachment, :size => 16, :index => nil %>
      <% unless asset.new_record? %>
        <%= asset_form.hidden_field :id, :index => nil %>
      <% end %>
    <% end %>
  <% end %>
  </p>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>