<div class="full_row center top_hr">
  <%= image_tag(blog.assets.last.attachment.url(:medium), :alt => blog.title, :class => "full_image") %><br />
</div>
<div class="full_row center bottom_hr">
	<h3 class="listing_title black">
  	<%=h blog.title %>
	</h3>
	<div class="listing_sub_title">
  	<%=h blog.sub_title %>
	</div>
	<div class="listing_time">
  	<%= (blog.created_at).to_s(:nice_date) %>
	</div>
	<div class="listing_content">
		<div class="retweet_links">
			<%= link_to "#{blog.title}", blog_path(blog), :class => "retweet vert" %>
		</div>
  	<%= blog.content %>
	</div>
</div>
<% if current_admin %>
	<div class="lg_page_btn">
		<%= link_to "Edit Blog", edit_blog_path(blog) %>
	</div>
<% end %>