<ul>
  <li><%= link_to "Blogs", admin_blog_path %></li>
  <li><%= link_to "Clients", admin_client_path %></li>
  <li><%= link_to "Quotes", admin_quote_path %></li>
  <li><%= link_to "Employees", admin_employee_path %></li>
  <li><%= link_to "Codeblog", admin_codeblog_path %></li>
  <li><%= link_to "Services", admin_service_path %></li>
</ul>