<ul>
  <li><%= link_to "blogs", admin_blog_path %></li>
  <li><%= link_to "services", admin_service_path %></li>
  <li><%= link_to "clients", admin_client_path %></li>
  <li><%= link_to "employees", admin_employee_path %></li>
  <li><%= link_to "codeblog", admin_codeblog_path %></li>
  <li><%= link_to "quotes", admin_quote_path %></li>
</ul>