<div class="admin_nav">
  <%= render :partial => 'admins/admin_nav' %>
</div>
<div class="admin_sidebar">
  <%= link_to "New Quote", new_quote_path %>
</div>
<div id="admin_datatable">
  <table id="quotes_table" class="display c2table">
  <thead><tr>
    <th>Name</th>
    <th>Company</th>
    <th>View</th>
     <th>Edit</th>
      <th>Delete</th>
  </tr></thead>
<tbody>
<% @quotes.each do |quote| %>
  <tr>
    <td><%=h quote.name %></td>
    <td><%=h quote.company %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table></div>