<% form_for(@client, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, "Client Name" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :sub_title, "Category" %><br />
    <%= f.text_field :sub_title %>
  </p>
  <p>
    <%= f.label :content, "Project Information" %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :url, "Client url" %><br />
    <%= f.text_field :url; %>
  </p>
  <p>
    <% f.fields_for :assets do |asset_form| %>
      <%= asset_form.label "Add Image"  %><br/>
      <%= asset_form.file_field :attachment, :size => 16, :index => nil %>
    <% end %>
  </p>
	<h4 class="admin_header">Sorting &#38; Placement</h4>
  <p>
		<%= f.check_box :active %>
		<%= f.label :active, "Active Client - (client list)" %><br />		
	</p>
	<p>
		<%= f.check_box :featured %>
		<%= f.label :featured, "Featured Client - (front page)" %><br />
	</p>
	<p>
		<%= f.text_field :list_order, :size => 1 %>		
		<%= f.label :list_order, "Listing Order" %><br />
	</p>
	<p>
		<%= f.check_box :app_page %>
		<%= f.label :app_page, "Web Application Page Listing" %>
	</p>
	<p>
		<%= f.check_box :ecommerce_page %>
		<%= f.label :ecommerce_page, "Ecommerce Page Listing" %>
	</p>
	<p>
		<%= f.check_box :design_page %>
		<%= f.label :design_page, "Web Design Page Listing" %>
	</p>
	<h4 class="admin_header">Project Functionality</h4>
  <p>
		<%= f.check_box :web_application %>
		<%= f.label :web_application, "Web Application" %><br />		
	</p>
	<p>
		<%= f.check_box :ecommerce %>
		<%= f.label :ecommerce, "Ecommerce" %><br />		
	</p>
	<p>
		<%= f.check_box :content_management %>
		<%= f.label :content_management, "Content Management" %><br />		
	</p>
	<p>
		<%= f.check_box :web_design %>
		<%= f.label :web_design, "Web Design" %><br />		
	</p>
	<p>
		<%= f.check_box :logo_branding %>
		<%= f.label :logo_branding, "Logo & Branding" %><br />		
	</p>
	<h4 class="admin_header">Applied Technologies</h4>
	<p>
		<%= f.check_box :css %>
		<%= f.label :css, "CSS" %><br />		
	</p>
	<p>
		<%= f.check_box :php %>
		<%= f.label :php, "PHP" %><br />		
	</p>
	<p>
		<%= f.check_box :html %>
		<%= f.label :html, "HTML" %><br />		
	</p>
	<p>
		<%= f.check_box :flash %>
		<%= f.label :flash, "Flash" %><br />		
	</p>
	<p>
		<%= f.check_box :ruby %>
		<%= f.label :ruby, "Ruby" %><br />		
	</p>
	<p>
		<%= f.check_box :sql %>
		<%= f.label :sql, "SQL" %><br />		
	</p>
	<p>
		<%= f.check_box :wordpress %>
		<%= f.label :wordpress, "Wordpress" %><br />		
	</p>
	<p>
		<%= f.check_box :javascript %>
		<%= f.label :javascript, "Javascript" %><br />		
	</p>
	<p>
		<%= f.check_box :rails_framework %>
		<%= f.label :rails_framework, "Rails Framework" %><br />		
	</p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>