<% content_for :banner do  %>
  <%= image_tag "websites2.png", :alt => "Cube2Media Designs" %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Building the Web<br/>
    on Relationships
    </h2>
    <%= render :partial => 'layouts/banner_bullet' %>
  </div>
  <div id="contact_nav" class="highlight">
    <%= link_to "contact the experts", contact_us_path, :id => "banner_contact" %>
  </div>
<% end %>

<% @clients.each do |client| %>
  <%= render :partial => 'clients/client_post', :locals => {:client => client} %>
<% end %>
<% content_for :sub_boxes do  %>
<div class="sub_box_left">
  <h4 class="c2_header testimonial">
    Testimonial
  </h4>
  <% @quotes.each do |quote| %>
  <div class="cube_sub_listing">
    <div class="sub_box_listing_content left_listing sub_box_quote">
      &quot; <%= quote.comment %> &quot;
    </div>

    <div class="sub_box_listing_sub_title">
    <%= quote.company %> - <%= quote.name %>
    </div>
  <div class="clear"></div>



  </div>
  <% end %>
</div>
<div class="sub_box_right">
  <h4 class="c2_header client_list">
    Client List
  </h4>
  <ul>
  <% @clients.each do |client| %>
   <li><%= client.title %></li>
  <% end %>
  </ul>
</div>
<% end %>
