<p>
  <b>Title:</b>
  <%=h @client.title %>
</p>

<p>
  <b>Sub title:</b>
  <%=h @client.sub_title %>
</p>

<p>
  <b>Content:</b>
  <%=h @client.content %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>