<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    <%= @client.title %>
    </h2>
    <%= render :partial => 'layouts/banner_bullet' %>
  </div>
<% end %>
<%= render :partial => 'clients/client_view', :locals => {:client => @client} %>

<% content_for :sub_boxes do %>
  <div class="sub_box_left">
		<h4 class="c2_header footer_function_header">Web Functionality</h4>
		<%= render :partial => 'web_functionality', :locals => {:client => @client} %>
		<h4 class="c2_header footer_tech_header">Web Technology</h4>
		<%= render :partial => 'technology', :locals => {:client => @client} %>
  </div>

  <div class="sub_box_right">
    <h4 class="c2_header the_founders">
      Request a Quote
    </h4>
		<%= render :partial => 'home/quote_request' %>
  </div>
<% end %>