<div class="full_row bottom_hr">
	<h3>
  	We are digital marketing web developers, bringing you streamlined business solutions.
	</h3>
	<p class="about_us">
		Creating a professional online presence for your company is one of the most important business decisions you can make.  Choosing an experienced firm to guide you is just as important. We know it takes more that just a great looking website project, it all starts with research, brand implementation, budget and implementation of the most current software technologies to keep your project on the cutting edge of the ever-changing global internet marketplace.
	</p>
	<p class="about_us">
		Look no further, we are confident developers and we have worked with all types of business' and have developed strategic marketing strategies and helped companies just like yours achieve the online public image they have been looking for.
	</p>
</div>
<div class="full_row bottom_hr">
	<% @employees.each do |employee| %>
	<div class="column_13 center">
  <%= image_tag(employee.assets.last.attachment.url(:small), :class => "thumb left", :alt => employee.name) %>
	</div>

	<div class="column_23">
		<div id="person_info">
			<h4 class="emp">
			  <%=h employee.name %>
			</h4>
			<h5 class="emp">
				<%=h employee.title %>
			</h5>
			
			<p>
				<%= employee.content %>
			</p>
		</div>
	</div>
	<% end %>
</div>

<div class="full_row bottom_hr">
	<div class="column_13">
		<h3>
			Services Overview:
		</h3>
		<ul class="bulleted_list">
		  <li>
				<%= link_to "Virtual Hosting", hosting_path, :class => "about_us", :alt => "Virtual Hosting Solutions" %>
			</li>
			<li>
				<%= link_to "Online Ecommerce", ecommerce_path, :class => "about_us", :alt => "Online Ecommerce Designs" %>
			</li>
		  <li>
		    <%= link_to "Corporate Marketing", marketing_path, :class => "about_us", :alt => "Corporate Marketing Strategies" %>
			<li>
				<%= link_to "Domain Management", domains_path, :class => "about_us", :alt => "Domain Name Management" %>
			</li>
			<li>
				<%= link_to "Logo Design & Branding", design_path, :class => "about_us",:alt => "Logo Design & Branding Solutions" %>
			</li>
			<li>
				<%= link_to "Full Web Design Services", design_path, :class => "about_us", :alt => "Web Design Services" %>
			</li>
			<li>
				<%= link_to "Content Management Services", apps_path, :class => "about_us", :alt => "Content Management Services" %>
			</li>
			<li>
				<%= link_to "Cloud Based Web Applications", apps_path, :class => "about_us", :alt => "Cloud Based Web Applications" %>
			</li>
		</ul>
	</div>
	<div class="column_23">
		<div id="person_info">
			<p>
				We are based in Las Vegas Nevada with a location in Salt Lake City Utah and we serve clients worldwide.  Our projects all remain in the Cube where we provide project consultation, one-on-one project management, concept creation, mock-ups, and extensive programming in a multitude of languages and up&ndash;to&ndash;date design technologies.
			</p>
			<p>
				While working with our firm, you can rest assured that your project is being treated with the utmost discretion, professionalism and care.  We will never cut corners and jeopardize the quality of your business' project.  We have a proven track record to back up our services and processes. <%= link_to "Browse some of our clients projects in our portfolio.", clients_path, :class => "about_us",:alt => "Cube2Media Web Development Client Listing" %>
			</p>
		</div>
	</div>
</div>