<div class="full_row bottom_hr">
	<h3>
  	A Team of digital marketing web developers, bringing you streamlined business solutions.
	</h3>
	<p class="about_us">
		Creating an professional online presence for your company is one of the most important decisions you can make.  Choosing the right firm to accomplish this task is just as important.  Many web development companies know how to build web sites, but we know it takes research, client input, cost effective solutions and implementation of the most current software technologies to keep your project on the cutting edge of the ever-changing global internet marketplace.
	</p>
	<p class="about_us">
		Our team of confident developers have designed and deployed web sites and web applications for just about every type of business. We use every tool available, whether your project is a simple static web design, the most dynamic complex application, Ecommerce store, or video marketing, Cube2Media has you covered.
	</p>
</div>
<div class="full_row bottom_hr">
			<% @employees.each do |employee| %>
	<div class="column_13 center">

  	<%= image_tag(employee.assets.last.attachment.url(:small), :class => "thumb left", :alt => employee.name) %>
	
	</div>

		<div class="column_23">
			<div id="person_info">
				<h4 class="emp">
			  	<%=h employee.name %>
				</h4>
				<h5 class="emp">
					<%=h employee.title %>
				</h5>
			
			<p>
				<%= employee.content %>
			</p>
			</div>
		</div>
	<% end %>
</div>
<div class="full_row bottom_hr">
<div class="column_13">
	<h3>
		Services We Offer
	</h3>
		<ul class="bulleted_list">
			<li>
				Domain Management
				<!-- <%= link_to "Domain Management", "", :class => "about_us", :alt => "Domain Name Management" %> -->
			</li>
			<li>
				Virtual Hosting
				<!-- <%= link_to "Virtual Hosting", "", :class => "about_us", :alt => "Virtual Hosting Solutions" %> -->
			</li>
			<li>
				<%= link_to "Logo Design & Branding", design_path, :class => "about_us",:alt => "Web Design & Branding Solutions" %>
			</li>
			<li>
				Mockup Designs
				<!-- <%= link_to "Mockup Designs", "", :class => "about_us", :alt => "Web Design Mockup & Layouts" %> -->
			</li>
			<li>
				<%= link_to "Full Web Design Services", design_path, :class => "about_us", :alt => "Web Design Services" %>
			</li>
			<li>
				<%= link_to "Content Management Services", apps_path, :class => "about_us", :alt => "Content Management Applications" %>
			</li>
			<li>
				<%= link_to "Online Ecommerce", ecommerce_path, :class => "about_us", :alt => "Online Ecommerce Designs" %>
			</li>
			<li>
				<%= link_to "Cloud Based Web Applications", apps_path, :class => "about_us", :alt => "Cloud Based Web Applications" %>
			</li>
			<li>
				Mobile Applications
				<!-- <%= link_to "Mobile Applications", "", :class => "about_us", :alt => "Mobile Applications" %> -->
			</li>
			<li>
				Gaming Design
				<!-- <%= link_to "Mobile Applications", "", :class => "about_us", :alt => "Mobile Applications" %> -->
			</li>
			<li>
				Video Marketing
				<!-- <%= link_to "Video Marketing", "", :class => "about_us", :alt => "Video Marketing" %> -->
			</li>
		</ul>
</div>
<div class="column_23">
	<p class="about_us">
		Our main objective at Cube2Media is to provide our clients with the most current up-to-date development processes when building their projects. 
	</p>
	<p class="about_us">
		At Cube2Media we stand alone in our approach to web development in all aspects.  We are based in Las Vegas Nevada with an office in Salt Lake City Utah and we serve clients worldwide.  Our projects all remain in the Cube where we have a talented core team that provides project consultation, one-on-one project management, concept creation, mock-ups, and extensive programming in a multitude of languages.
	</p>
	<p class="about_us">
		While working with Cube2Media, you can rest assured that your project is being treated with the utmost discretion, professionalism and care.  We will never cut corners and jeopardize the quality of service we deliver.  We have a proven track record to back up our services and processes. <%= link_to "Go browse at some of our clients projects in our portfolio.", clients_path, :class => "about_us",:alt => "Cube2Media Web Development Client Listing" %>
	</p>
	</div>

</div>