<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Web Solutions You Can Count On.
    </h2>
    <%= render :partial => 'layouts/banner_bullet' %>
  </div>
<% end %>

	  <%= render :partial => 'index_banner' %>
	
	<div id="sites">
		<% @clients.each do |client| %>
		 <% client.assets.each do |asset| %>
	  	<%= (image_tag(asset.attachment.url(:medium), :alt => client.title)) %>
	   <% end %>
	 <% end %>
	</div>
		<div id="contact_nav" class="highlight">
		  <%= link_to "contact the experts", contact_us_path, :id => "banner_contact" %>
		</div>

<% content_for :sub_boxes do %>
  <div class="sub_box_left">
    <%= render :partial => 'about_us' %>
  </div>

  <div class="sub_box_right">
    <h4 class="c2_header the_founders">
      The Founders
    </h4>
		<%= render :partial => 'quote_request' %>
  </div>
<% end %>
