<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Javascript/Jquery In Development
    </h2>
  </div>
<% end %>

<div class="full_row top_hr bottom_hr">
	<h4>The Cool Tool</h4>
	<p>
		<%= link_to "Javascript", "http://www.javascript.com/", :target => "_blank", :class => "about_us", :alt => "Javascript Resource" %> &#38; <%= link_to "Jquery", "http://jquery.com", :target => "_blank", :class => "about_us", :alt => "Jquery Write Less Do More" %> are prototype-based object-oriented scripting languages that are dynamic and have first-class functions.  <%= link_to "Javascript", "http://www.javascript.com/", :target => "_blank", :class => "about_us", :alt => "Javascript Resource" %> like <%= link_to "Flash", flash_animation_path, :class => "about_us", :alt => "Cube2Media Javascript in Development" %>, provides enhanced user interface for viewing content for web pages, but is less taxing and intrusive than <%= link_to "Flash", flash_animation_path, :class => "about_us", :alt => "Cube2Media Javascript in Development" %>. <%= link_to "Javascript", "http://www.javascript.com/", :target => "_blank", :class => "about_us", :alt => "Javascript Resource" %> &#38; <%= link_to "Jquery", "http://jquery.com", :target => "_blank", :class => "about_us", :alt => "Jquery Write Less Do More" %> uses syntax closely related to "C", and resembles many naming conventions of <%= link_to "'Java'", "http://www.java.com/en/", :target => "_blank", :class => "about_us", :alt => "Java In Action" %>, but that is the only similarity between them and javascript has very different characteristics. Javascript is becoming more popular amongst developers and programmers because it has the ability to to run locally in a users browser so the reactive response is much more robust. Its primary use in web applications is to produce functions that are included from <%= link_to "HTML", hypertext_path, :class => "about_us", :alt => "Cube2Media HTML in Development" %> pages that can interact with the Document Object Model and can provide site features such as validations on forms and animations throughout the site. <%= link_to "Go see some of our javascript implementations", clients_path, :class => "about_us", :alt => "Cube2Media Javascript In Design" %> we have used in some of our featured clients.
	</p>
</div>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>