<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Got a Project? Lets Talk Solutions.
    </h2>
  </div>
<% end %>

<div class="full_row">
  <% form_tag(project_mailer_path, :id => "project_form") do %>
  <div class="column_3">
    <h3>Tell Us About You</h3>    
    <div>
      <%= label :project, :first_name, "First Name *" %><br />
      <%= text_field :project, :first_name, :name => "project_first_name" %>
    </div>
    <div>
      <%= label :project, :last_name, "Last Name *" %><br />
      <%= text_field :project, :last_name, :name => "project_last_name" %>
    </div>
    <div>
      <%= label :project, :email, "Email Address *" %><br />
      <%= text_field :project, :email, :name => "project_email" %>
    </div>
    <div>
      <%= label :project, :phone, "Phone Number" %><br />
      <%= text_field :project, :phone, :name => "project_phone" %>
    </div>
  </div>
  <div class="column_4">
	  <h3>Budget</h3>
	  <h4>Select one *</h4>
    <div>
      <%= radio_button_tag :project_budget, '2k', true %><b> < $2k</b>
    </div>
    <div>
      <%= radio_button_tag :project_budget, '11k-20k', false %><b> $2k to $10k</b>
    </div>
    <div>
      <%= radio_button_tag :project_budget, '21k-50k', false %><b> $10k to $20k</b>
    </div>
    <div>
      <%= radio_button_tag :project_budget, '51k-100k', false %><b> $20k to $30k</b>
    </div>
    <div>
      <%= radio_button_tag :project_budget, '101k', false %><b> $30k +</b>
    </div>
	</div>
	<div class="column_3">
		<h3>Tell Us About Your Project</h3>
		<div class="left">
	    <%= radio_button_tag :project_state, 'new', true %><b> New Project</b>
	  </div>
	  <div class="left">
	    <%= radio_button_tag :project_state, 'existing', false %><b> Existing Project</b>
	  </div><br />
  	<div>
      <%= label :project, :comments, "Comments" %><br />
      <%= text_area :project, :comments, :name => "project_comments", :rows => 9, :cols => 42 %>
    </div>
    <div>
      <%= submit_tag 'Submit', :class => "btn" %>
  	</div>
  </div>
  <% end %>
</div>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>