<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Got a Project? Lets Talk Solutions.
    </h2>
  </div>
<% end %>

<div class="project_form full_20_wrap">
  <h3 class="project_heading">Tell Us About You</h3>
  <% form_tag(project_mailer_path, :id => "project_form") do %>
  <div class="project_left">    
    <p>
      <%= label :project, :first_name, "First Name *" %><br />
      <%= text_field :project, :first_name, :name => "project_first_name" %>
    </p>
    <p>
      <%= label :project, :last_name, "Last Name *" %><br />
      <%= text_field :project, :last_name, :name => "project_last_name" %>
    </p>
    <p>
      <%= label :project, :email, "Email Address *" %><br />
      <%= text_field :project, :email, :name => "project_email" %>
    </p>
    <p>
      <%= label :project, :phone, "Phone Number" %><br />
      <%= text_field :project, :phone, :name => "project_phone" %>
    </p>
  </div>
  <div class="project_middle">
	  <h3>Budget</h3>
	  <h4 class="top">Select one *</h4>
    <p>
      <%= radio_button_tag :project_budget, '5k-10k', true %><b> $3k to $10k</b>
    </p>
    <p>
      <%= radio_button_tag :project_budget, '11k-20k', false %><b> $10k to $20k</b>
    </p>
    <p>
      <%= radio_button_tag :project_budget, '21k-50k', false %><b> $20k to $50k</b>
    </p>
    <p>
      <%= radio_button_tag :project_budget, '51k-100k', false %><b> $50k to $100k</b>
    </p>
    <p>
      <%= radio_button_tag :project_budget, '101k', false %><b> $100k +</b>
    </p>
	</div>
	<div class="project_right">
		<h3 class="project_heading">Tell Us About Your Project</h3>
		<p class="project_radio_left">
	    <%= radio_button_tag :project_state, 'new', true %><b> New Project</b>
	  </p>
	  <p class="project_radio_right">
	    <%= radio_button_tag :project_state, 'existing', false %><b> Existing Project</b>
	  </p>
  	<p>
      <%= label :project, :comments, "Comments" %><br />
      <%= text_area :project, :comments, :name => "project_comments", :rows => 9, :cols => 49 %>
    </p>
    <p>
      <%= submit_tag 'Submit', :class => "btn" %>
  	</p>
  </div>
  <% end %>
</div>