
<% form_for(@header) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </p>
  <p>
    <%= f.label :header %><br />
    <%= f.text_field :header %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>