<div class="footer_nav">
  <ul>
    <li><%= link_to "home", root_path, :alt => "Cube2Media Home" %></li>
    <li><%= link_to "blog", blogs_path, :id => "blog", :alt => "Cube2Media Blog" %></li>
    <li><%= link_to "services", services_path, :id => "services", :alt => "Cube2Media Services" %></li>
    <li><%= link_to "clients", clients_path, :id => "clients", :alt => "Cube2Media Clients" %></li>
    <li><%= link_to "contact", contact_mailer_path, :id => "contact", :alt => "Cube2Media Contact" %></li>
    <% if current_admin %>
      <li><%= link_to "admin dashboard", admin_blog_path %></li>
      <li><%= link_to "logout", admin_logout_path %></li>
    <% end %>
  </ul>
</div>