<title>Cube2Media | <%= h(yield(:title) || "Web Design, Web Application, Mobile Application Development") %></title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="<%= h(yield(:description) || "Cube2Media is an all encompassing multimedia company based in Las Vegas Nevada. We specialize in Web development, Software development, Photography, Video, and Audio Recording.") %>">
<meta name="keywords" content="<%= h(yield(:keywords) || "Web Design, Web Development, application development, software development, photography, video, multimedia") %>">
<meta name="copyright" content="Copyright 2009 Cube2Media">
<meta name="title" CONTENT="Cube2Media">
<meta name="google-site-verification" content="OKDvKpP1iNArmgLfUfGXIsD8ajkO4GZAiQFRLqqZ7yQ" />
<link ref="shortcut icon" href="favicon.ico" type="image/ico" />

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids', 'jquiwidgets', '960', 'alerts/jquery.alerts', :cache => true %>
<%= stylesheet_link_tag 'application' %>

<% if current_admin %>
<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/skin.css">
<% end %>
<!--[if IE ]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE6.css" />
<![endif]-->

<%#= ******** JAVASCRIPTS ********** %>
<%= javascript_include_tag 'jquery', 'jqtools', 'jqui', 'jquery.easing', 'jQueryTimer', 'jqueryHover', 'jquery.alerts', 'jquery.validate', 'cube_crossfade', 'datatables', 'retweet', 'jquery.tweet', :cache => true %>
<script type="text/javascript" src="http://use.typekit.com/guc0ogk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<% if current_admin %>
<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.8.0r4/build/element/element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.8.0r4/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.0r4/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.0r4/build/button/button-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.8.0r4/build/editor/editor-min.js"></script>
<% end %>
<%= javascript_include_tag 'cube_validations', 'application'%>







