<title><%= h(yield(:title) || "Welcome To ") %> | Cube2Media Software &#38 SaaS Development</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="<%= h(yield(:description) || "Cube2Media is an all encompassing multimedia company based in Las Vegas Nevada. We specialize in Web development, Software development, Photography, Video, and Audio Recording.") %>">
<meta name="keywords" content="<%= h(yield(:keywords) || "Web Design, Web Development, application development, software development, photography, video, multimedia") %>">
<meta name="copyright" content="Copyright 2009 Cube2Media">
<meta name="title" CONTENT="Cube2Media">
<link ref="shortcut icon" href="favicon.ico" type="image/ico" />

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids', 'jquiwidgets', '960', 'alerts/jquery.alerts', :cache => true %>
<%= stylesheet_link_tag 'application' %>
<!--[if IE ]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE6.css" />
<![endif]-->

<%#= ******** JAVASCRIPTS ********** %>
<%= javascript_include_tag 'jquery', 'jqtools', 'jqui', 'jquery.easing', 'jQueryTimer', 'jqueryHover', 'jquery.alerts', 'jquery.validate', 'cube_crossfade', 'datatables', 'retweet', 'jquery.tweet', :cache => true %>
<%= javascript_include_tag 'cube_validations', 'application'%>