<div id="main_nav">
  <ul class="nav_ul">
    <li class="nav1 highlight">
      <%= link_to "home", root_path, :id => "home", :alt => "Cube2Media Home" %>
    </li>
    <li class="nav2 highlight">
      <%= link_to "blog", blogs_path, :id => "blog", :alt => "Cube2Media Blog" %>
    </li>
    <li class="nav3 highlight">
      <%= link_to "services", services_path, :id => "services", :alt => "Cube2Media Services" %>
    </li>
    <li class="nav4 highlight">
      <%= link_to "clients", clients_path, :id => "clients", :alt => "Cube2Media Clients" %>
    </li>
    <li class="nav5 highlight">
      <%= link_to "contact", contact_mailer_path, :id => "contact", :alt => "Cube2Media Contact" %>
    </li>
  </ul>
</div>