<div id="main_nav">
  <ul>
    <li class="nav">
      <%= link_to "Home <span>Welcome</span>", root_path, :id => "home", :alt => "Cube2Media Home" %>
    </li>
		<li class="nav">
      <%= link_to "Services <span>What you need</span>", apps_path, :id => "apps", :alt => "Cloud Applications" %>
    </li>
    <li class="nav">
      <%= link_to "Clients <span>View Work</span>", clients_path, :id => "clients", :alt => "Cube2Media Clients" %>
    </li>
    <li class="nav">
      <%= link_to "Blogs <span>Geek Speak</span>", blogs_path, :id => "blogs", :alt => "Cube2Media Blog" %>
    </li>
    <li class="nav">
      <%= link_to "Contact <span>Get in touch</span>", contact_us_path, :id => "contact", :alt => "Cube2Media Contact" %>
    </li>
    <li class="nav last">
      <%= link_to "Quote", project_contact_path, :id => "quote", :alt => "Project Quotation " %>
    </li>
  </ul>
</div>