<div id="main_nav">
  <ul>
    <li class="nav1">
      <%= link_to "home", root_path, :id => "home", :alt => "Cube2Media Home" %>
    </li>
		<li class="nav2">
      <%= link_to "apps", apps_path, :id => "apps", :alt => "Cloud Applications" %>
    </li>
    <li class="nav3">
      <%= link_to "ecommerce", ecommerce_path, :id => "ecommerce", :alt => "Ecommerce Solutions" %>
    </li>
    <li class="nav4">
      <%= link_to "design", design_path, :id => "design", :alt => "Web Design" %>
    </li>
    <li class="nav5">
      <%= link_to "clients", clients_path, :id => "clients", :alt => "Cube2Media Clients" %>
    </li>
    <li class="nav6">
      <%= link_to "blogs", blogs_path, :id => "blogs", :alt => "Cube2Media Blog" %>
    </li>
    <li class="nav7">
      <%= link_to "contact", contact_us_path, :id => "contact", :alt => "Cube2Media Contact" %>
    </li>
    <li class="nav8">
      <%= link_to "quote", project_contact_path, :id => "quote", :alt => "Project Quotation " %>
    </li>
  </ul>
<div id="header_dashboard">
  <% if current_admin %>
    <li><%= link_to "admin dashboard", admin_blog_path %></li>
  <% end %>
</div>
</div>