<div id="main_nav">
  <ul class="nav_ul">
    <li class="nav1 highlight">
      <%= link_to "home", root_path, :id => "home", :alt => "Cube2Media Home" %>
    </li>
    <li class="nav2 highlight">
      <%= link_to "blog", "#", :id => "blog", :alt => "Cube2Media Home" %>
    </li>
    <li class="nav3 highlight">
      <%= link_to "services", "#", :id => "services", :alt => "Cube2Media Home" %>
    </li>
    <li class="nav4 highlight">
      <%= link_to "clients", "#", :id => "clients", :alt => "Cube2Media Home" %>
    </li>
    <li class="nav5 highlight">
      <%= link_to "contact", "#", :id => "contact", :alt => "Cube2Media Home" %>
    </li>
  </ul>
</div>