<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body class="yui-skin-sam">
  <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  <!-- Application Layout -->
  <!-- header sections -->
  <div id="mast_header">
    <div id="hd" class='container_12'>
	    <%= link_to '<div id="logo"></div>', root_path, :alt => "Cube2Media" %>
      <%= render :partial => "layouts/header" %>
			<% if current_admin %>
				<%= render :partial => 'layouts/admin_nav' %>
			<% end %>
	  </div>
  </div>
  <!-- banner section -->
  <div id="mast_banner">
    <div id="banner" class="container_12">
      <%= yield :banner %>
    </div>
  </div>
  <!-- main content section -->
  <div id="mast_main_content">
    <div id="main_content" class="container_12">
      <%= yield %>
      <div class="clear"></div>
    </div>
  </div>
  <!-- sub box -->
  <div id="mast_sub_box">
     <div id="sub_boxes" class="container_12">
       <div class="sub_box_lights"></div>
      <%= yield :sub_boxes %>
      <div class="clear"></div>
     </div>
  </div>
  <!-- footer section -->
  <div id="mast_footer">
     <div id="ft" class="container_12">
        <%= render :partial => "layouts/footer" %>
      </div>
  </div>
	<%= render :partial => "layouts/scripts" %>
</body>
</html>


